<div *ngIf="imageSrc" class="container {{imageContainerClass}}">
  <ng-container *ngIf="imageInCanvas == false">
    <canvas #imageCanvas [width]="width" [height]="height" class="canvas"></canvas>
    <img [src]="imageSrc" [width]="width" [height]="height" class="image" (load)="onImageLoad()">
  </ng-container>
  <ng-container>
    <div id="img-container" [class]="containerClass" style="width: 800px;height: 450px;">
      <canvas #imageCanvas [width]="width" [height]="height" class="canvas" class="blowup"></canvas>
    </div>
  </ng-container>

</div>