<div class="main">
  <div class="container-fluid">
    <!-- Rechtecke -->
    <div class="row">
      <div class="col-sm-4">
        <b>Rechtecke (lowerLeft, upperRight)</b>
      </div>
      <div class="col-sm-4">
        <b>Rechtecke ([StartX, StartY], Rechteck-Breite, Rechteck-Höhe)</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <ol>
          <li *ngFor="let rect of rectangles">{{rect.lowerLeft}}, {{rect.upperRight}}</li>
        </ol>
      </div>
      <div class="col-sm-4">
        <ol>
          <li *ngFor="let rect of rectangles">{{getConvertedRect(rect)}}</li>
        </ol>
      </div>
    </div>

    <!-- Lupeneinstellung -->
    <div class="row">
      <div class="col-sm-12">
        <b>Zoom-Einstellungen</b>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="form-check">
          <label class="form-check-label" for="zoom">
            <input class="form-check-input" type="checkbox" id="zoom" [(ngModel)]="zoomEnabled">
            Zoom
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- <div class="form-group">
          <label for="scale">Skalierung: {{zoomScale}}</label>
          <input type="range" class="custom-range" min="1" max="2" step="0.2" id="scale" [(ngModel)]="zoomScale">
        </div> -->
        <div class="form-group">
          <label for="scale">Skalierung: {{zoomScale}}</label>
          <input type="range" class="form-control-range" min="1" max="2" step="0.2" id="scale" [(ngModel)]="zoomScale"
            [disabled]="!zoomEnabled">
        </div>
      </div>
    </div>

    <!-- Image-Draw -->
    <div class="row">
      <div class="col-sm-12">
        <b>Image-Draw</b>
      </div>
    </div>
    <div class="row" style="min-height: 500px;">
      <app-image-viewer imageContainerClass="col-sm-12" [imageSrc]="imageSource" [width]="imageWidth"
        [height]="imageHeight" [rectangles]="rectangles" [imageInCanvas]="true" [zoomEnabled]="zoomEnabled"
        [zoomScale]="zoomScale">
      </app-image-viewer>
    </div>

    <!-- PDF-Draw (PDFjs) -->
    <div class="row">
      <div class="col-sm-12">
        <b>PDF-Draw (PDF.js)</b>
      </div>
    </div>
    <div class="row" style="min-height: 500px;">
      <app-pdf-js-viewer imageContainerClass="col-sm-12" [pdfSrc]="pdfSource" [width]="imageWidth"
        [height]="imageHeight" [rectangles]="rectangles" [zoomEnabled]="zoomEnabled" [zoomScale]="zoomScale">
      </app-pdf-js-viewer>
    </div>

    <!-- PDF-Tron -->
    <div class="row">
      <div class="col-sm-12">
        <b>PDF-TRON</b>
      </div>
    </div>
    <div class="row" style="min-height: 500px;">
      <app-pdf-js-viewer [tronMode]="true" imageContainerClass="col-sm-12" [pdfSrc]="pdfSource2" [width]="imageWidth"
        [height]="imageHeight" [rectangles]="rectangles" [zoomEnabled]="zoomEnabled" [zoomScale]="zoomScale">
      </app-pdf-js-viewer>
    </div>

    <!-- PDF-Draw (embed-tag) -->
    <div class="row" *ngIf="false">
      <div class="col-sm-12">
        <b>PDF-Draw (embeded-Tag)</b>
      </div>
    </div>
    <div class="row" style="min-height: 500px;">
      <app-pdf-viewer imageContainerClass="col-sm-12" [pdfSrc]="pdfSource" [width]="imageWidth" [height]="imageHeight"
        [rectangles]="rectangles"></app-pdf-viewer>
    </div>

  </div>
</div>
