<div *ngIf="pdfSrc" class="container {{imageContainerClass}}">
  <div *ngIf="!tronMode" [class]="containerClass" [style.width.px]="width" [style.height.px]="height">
    <canvas #pdfCanvas class="canvas"></canvas>
  </div>
  <div *ngIf="tronMode" id="pdfTronViewer" [style.width.px]="width" [style.height.px]="height">
  </div>
</div>
